body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: black;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 30px 0 rgba(0, 0, 0, 0.19)
}

.card {
    border-color: black;
    background-color: rgb(0, 0, 0);
    height: 100%;
}


.jumbotron {
    background-color: #22292F;
    color: floralwhite
}

lottie-player {
    margin: -150px -100px -150px -100px;
}

@keyframes mymove {
    0% {padding-top: 0px; padding-bottom: 50px;}    
    50% {padding-top: 50px; padding-bottom: 0px;}
    100% {padding-top: 0px; padding-bottom: 50px;}
  }

@keyframes togglr {
    
}

.titlename {
    animation: mymove 4s infinite cubic-bezier(0.4, 0, 0.2, 1);;
}