body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: black;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 30px 0 rgba(0, 0, 0, 0.19)
}

.card {
    border-color: black;
    background-color: rgb(0, 0, 0);
    height: 100%;
}


.jumbotron {
    background-color: #22292F;
    color: floralwhite
}

lottie-player {
    margin: -150px -100px -150px -100px;
}